/* GENERAL */

    @import url("https://www.citymanlive.cz/application/views/publikace/30973/zxmfb4/uploaded_files/neuropol_x_rg.ttf");

    * {
        font-family: 'neuropol x', sans-serif;
        letter-spacing: 1px;
        color: {{fontColor}};
        font-size: 16px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .fadeOutClass {
        animation: fadeOut 1s;
        animation-delay:{{fadeoutTime}}s;
        animation-fill-mode: forwards;
    }

/* STYLE */

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .main-container > div {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0.25rem;
    }

    .main-container > div::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        border-radius: 25px;
        background-image: linear-gradient(to right, #1c1d50, #c01d4f);
    }

    .main-container .text {
        text-transform: uppercase;
        color: white;
        position: relative;
        padding: 0.5rem 3rem 0.5rem 1rem;
    }

    .main-container .text span::before {
        content: ' • ';
    }

    .main-container > div:nth-child(2) {
        opacity: .75;
    }

    .main-container > div:nth-child(3) {
        opacity: .5;
    }

    .main-container > div:nth-child(4) {
        opacity: .25;
    }

    .main-container > div:nth-child(5) {
        opacity: .1;
    }
    .main-container > div:nth-child(6) {
        opacity: 0;
    }

    .type::after {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center right;
    }

    .type:not(.sub):not(.cheer):not(.tip) [data-amount] {
        display: none !important;
    }

    .type.sub [data-amount]::after {
        content: 'x';
    }

    .type.tip::after {
        background-image: url("https://www.zombeek.cz/elements/images/uploads/30973/tip.png");
    }

    .type.cheer::after, .type.redemption::after {
        background-image: url("https://www.zombeek.cz/elements/images/uploads/30973/bit.png");
    }

    .type.raid::after, .type.follower::after, .type.host::after {
        background-image: url("https://www.zombeek.cz/elements/images/uploads/30973/follow.png");
    }

    .type.sub::after {
        background-image: url("https://www.zombeek.cz/elements/images/uploads/30973/sub.png");
    }

/* ANIMATIONS */


    .main-container > div:nth-child(1) {
        animation: grow .4s ease-in 1 forwards;
        opacity: 0;
        max-height: 0;
    }


    .main-container .text, .main-container > div::before {
        right: 20px;
        left: -20px;
        opacity: 0;
        animation: info .5s ease-in 1 .6s forwards;
    }


    .type::after {
        right: -22px;
        opacity: 0;
        animation: icon .5s ease-in 1 .4s forwards;
    }


    @keyframes info {
        0% {
            right: 20px;
            left: -20px;
            opacity: 0;
        }
        40% {
            right: 40px;
            left: -40px;
            opacity: 0.5;
        }
        60% {
            right: 20px;
            left: 20px;
            opacity: 0.5;
        }
        100% {
            right: 0;
            left: 0px;
            opacity: 1;
        }
    }

    @keyframes grow {
        from {
            opacity: 0;
            max-height: 0;
        }
        to {
            opacity: 1;
            max-height: 50px;
        }
    }

    @keyframes icon {
        0% {
            right: -22px;
            opacity: 0;
        }
        40% {
            right: -2px;
            opacity: 1;
        }
        60% {
            right: 18px;
            opacity: 1;
        }
        100% {
            right: -2px;
            opacity: 1;
        }
    }
